/* common */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* end common */
/* DEBUG */
.debug * {
	border: 1px dashed black;
}
.debug header {
	min-height: 100px;
	background-color: red;
}
.debug main {
	min-height: 1000px;
	background-color: green;
}
.debug footer {
	min-height: 100px;
	background-color: blue;
}

/* endDEBUG */ 

